gitea:
  config:
    APP_NAME: "Gitea: With a cup of tea."
    repository.pull-request:
      WORK_IN_PROGRESS_PREFIXES: "WIP:,[WIP]:"

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: local-ca-issuer
  hosts:
    - gitea.{{ .Values.host.internal }}
  tls:
    - hosts:
        - gitea.{{ .Values.host.internal }}
      secretName: gitea-tls
