expose:
  type: ingress
  ingress:
    hosts:
      core: harbor.{{ .Values.host.internal }}
    annotations:
      cert-manager.io/cluster-issuer: local-ca-issuer
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: harbor-ingress-tls

trivy:
  enabled: false

notary:
  enabled: false

chartmuseum:
  enabled: false

externalURL: https://harbor.{{ .Values.host.internal }}
secretKey: {{ .Values.harbor.secret }}
