image:
  tag: latest

insecureRegistry: true

helmProvider:
  enabled: false

service:
  enabled: true
  type: ClusterIP
  externalPort: 9300

basicauth:
  enabled: true
  user: "admin"
  password: "admin"

ingress:
  enabled: true
  hosts:
    - host: keel.{{ .Values.host.internal }}
      paths:
        - /
